In [2]:
# Reading the Hotel reviews data 

import pandas as pd

path = "C:/Users/kulkarni/Documents/NLP_PyCon2016/yelp.csv"
reviews = pd.read_csv(path)

In [5]:
# Shape of Data

reviews.shape

(10000, 10)

In [6]:
# Head of Data

reviews.head(5)

,business_id,date,review_id,stars,text,type,user_id,cool,useful,funny
0,9yKzy9PApeiPPOUJEtnvkg,2011-01-26,fWKvX83p0-ka4JS3dc6E5A,5,My wife took me here on my birthday for breakf...,review,rLtl8ZkDX5vH5nAx9C3q5Q,2,5,0
1,ZRJwVLyzEJq1VAihDhYiow,2011-07-27,IjZ33sJrzXqU-0X6U8NwyA,5,I have no idea why some people give bad review...,review,0a2KyEL0d3Yb1V6aivbIuQ,0,0,0
2,6oRAC4uyJCsJl1X0WZpVSA,2012-06-14,IESLBzqUCLdSzSqm0eCSxQ,4,love the gyro plate. Rice is so good and I als...,review,0hT2KtfLiobPvh6cDC8JQg,0,1,0
3,_1QQZuf4zZOyFCvXc0o6Vg,2010-05-27,G-WvGaISbqqaMHlNnByodA,5,"Rosie, Dakota, and I LOVE Chaparral Dog Park!!...",review,uZetl9T0NcROGOyFfughhg,1,2,0
4,6ozycU1RpktNG2-1BroVtw,2012-01-05,1uJFq2r5QfJG_6ExMRCaGw,5,General Manager Scott Petello is a good egg!!!...,review,vYmM4KTsC8ZfQBg-j5MWkw,0,0,0

In [9]:
#  Filtering out the data we want for further use
# We will consider only the 1 star and 5 start reviews


reviews_n = reviews[(reviews.stars == 1) | (reviews.stars == 5)]

In [10]:
# Shape of new data

reviews_n.shape

(4086, 10)

In [11]:
# Lets check how many are 1 star and how many are 5 star

reviews_n.stars.value_counts().sort_index()

1     749
5    3337
Name: stars, dtype: int64

In [12]:
# Lets define our X and y variables for training and testing

X = reviews_n.text
y = reviews_n.stars

In [13]:
# Splitting the data into train and test

from sklearn.cross_validation import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X,y,random_state = 1)

In [15]:
# Lets look at the data how it is divided

print(X_train.shape)
print(y_train.shape)
print(X_test.shape)
print(y_test.shape)

(3064,)
(3064,)
(1022,)
(1022,)

In [16]:
# Creating document term matrix 

from sklearn.feature_extraction.text import CountVectorizer
vect = CountVectorizer()

In [18]:
# Fit and Transform X_train to X_train_dtm

X_train_dtm = vect.fit_transform(X_train)
X_train_dtm.shape

(3064, 16825)

In [19]:
# Transform X_test to X_test_dtm

X_test_dtm = vect.transform(X_test)
X_test_dtm.shape

(1022, 16825)

In [20]:
# Using Multinomial Naive Bayes to classify the text as 1 star or 5 star 
# Calculating the accuracy and printing the confusion matrix

from sklearn.naive_bayes import MultinomialNB

nb = MultinomialNB()

In [21]:
# Train the model using MUltinoial NB

nb.fit(X_train_dtm,y_train)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [22]:
# Making predictions for the test data

y_pred_class = nb.predict(X_test_dtm)

In [24]:
# Calculating the accuracy
from sklearn import metrics

metrics.accuracy_score(y_test,y_pred_class)

0.91878669275929548

In [25]:
# Print the confusion matrix:

metrics.confusion_matrix(y_test,y_pred_class)

array([[126,  58],
       [ 25, 813]])